# Exclude specific CSV files
race_results_saved.csv
prepared_future_races.csv
out_test.csv

# Optional: You might also want to exclude all CSV files in general
*.csv

# Common Python-related files to ignore
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 
.DS_Store
.venv/pyvenv.cfg
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
.venv/bin/easy_install
.venv/bin/easy_install-3.7
.venv/bin/f2py
.venv/bin/f2py3
.venv/bin/f2py3.7
.venv/bin/pip
.venv/bin/pip3
.venv/bin/pip3.7
.venv/bin/pip3.10
.venv/bin/python
.venv/bin/python3
models/training_20250101_210714.log
models/training_20250101_211755.log
models/training_20250101_212529.log
models/training_20250101_213719.log
